.splashContainer {
    width: 100vw;
    height: 100vh;
    transition: all 0s;
}
/* 顶栏 */
.splash-topBar {
    width: 100%;
    height: 40px;
    background-position: center;
    background-image: url('image/splash/topBarBorder.png');
    background-size: 105% 105%;
    z-index: 101;
}

.splash-logo {
    height: 35px;
    width: calc(35px * 187/101);
    top: 2px;
    left: 2%;
    background-image: url('image/splash/logo.png');
    background-size: 100% 100%;
}

/* 主界面 */
.splashBG {
    width: 100%;
    height: calc(100% - 100px);
    top: 40px;
    background-image: url('image/splash/splashBG.png');
    background-size: 100% 100%;
    z-index: 100;

}

/* 底栏 */
.splash-bottomBar {
    width: 100%;
    height: 60px;
    bottom: 0;
    background-image: url('image/splash/bottomBar.png');
    background-size: 100% 100%;
    z-index: 101
}

.splash-fctList {
    position: absolute;
    height: 40px;
    width: 200px;
    top: 12px;
    right: 4%;
    z-index: 102;
    display: flex;
    gap: 5px;
}

.splash-fctList>div {
    position: relative;
    --h: 40px;
    height: var(--h);
    width: var(--h);
    margin:0 5px;
    background-size: 100% 100%;
    z-index: 103;
    transition: all 0.1s;
}

.splash-settingBtn {
    background-image: url('image/splash/Fct_setting.png');
}

.splash-settingBtn:hover {
    background-image: url('image/splash/Fct_setting_active.png');
}

.splash-rankBtn {
    background-image: url('image/splash/Fct_rank.png');
}

.splash-rankBtn:hover {
    background-image: url('image/splash/Fct_rank_active.png');
}

.splash-skinBtn {
    background-image: url('image/splash/Fct_skin.png');
}

.splash-skinBtn:hover {
    background-image: url('image/splash/Fct_skin_active.png');
}

.splash-characterBtn {
    background-image: url('image/splash/Fct_character.png');
}

.splash-characterBtn:hover {
    background-image: url('image/splash/Fct_character_active.png');
}

/* 主菜单 */
.MenuContainer {
    width: 50%;
    padding-bottom: 25%;
    right: 5%;
    top: 30%;
}

.splashMenu {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(17, 1fr);
}

.splashMenu>div {
    position: relative;
    transition: all 0.1s;
    background-size: 100% 100%;
    margin: 3px;
}

.splashMenu>.classicIdentity {
    grid-column: span 10;
    grid-row: span 11;
    background-image: url('image/splash/Identities_normal.png');
}

.splashMenu>.classicIdentity:hover {
    background-image: url('image/splash/Identities_hover.png');
}

.splashMenu>.nationalWar {
    grid-column: span 4;
    grid-row: span 11;
    background-image: url('image/splash/Confrontation_normal.png');
}

.splashMenu>.nationalWar:hover {
    background-image: url('image/splash/Confrontation_hover.png');
}

.splashMenu>.campConfrontation {
    grid-column: span 7;
    grid-row: span 6;
    background-image: url('image/splash/National_war_normal.png');
}

.splashMenu>.campConfrontation:hover {
    background-image: url('image/splash/National_war_hover.png');
}

.splashMenu>.againstLandlord {
    grid-column: span 7;
    grid-row: span 6;
    background-image: url('image/splash/Landlord_noramal.png');
}

.splashMenu>.againstLandlord:hover {
    background-image: url('image/splash/Landlord_hover.png');
}

.splashContainer>.subMenu {
    width: 100%;
    height: 100%;
}

.subMenu>.title {
    position: absolute;
    width: 250px;
    height: 45px;
    background-size: 100% 100%;
    background-image: url('image/splash/title.png');
}

.subMenu>.title>div{
    position: absolute;
}

.subMenu>.title>.splash-backBtn {
    height: 32px;
    width: 42px;
    background-size: 100% 100%;
    background-image: url('image/splash/backBtn.png');
}
.subMenu>.title>.splash-info {
    height: 40px;
    width: 240px;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}
.startBtn {
    position: absolute;
    height: 50px;
    width: 170px;
    top: calc(90% - 50px);
    left: calc(50% - 95px);
    background-size: 100% 100%;
    background-image: url('image/splash/startBtn.png');
}

.modeListBox {
    top: 45px;
    height: calc(100% - 45px);
    width: 350px;
    justify-items: center;
    align-content: center;
}

.modeListBox>.mode {
    position: relative;
    width: 230px;
    height: 100px;
    left: 20px;
    padding-right: 70px;

    font-size: 18px;
    text-align: center;
    line-height: 100px;

    background-size: 100% 100%;
    background-image: url('image/splash/mode.png');
}

.modeListBox>.mode.active {
    background-image: url('image/splash/mode_active.png');
}

.modeListBox>.mode.active:hover {
    background-image: url('image/splash/mode_active_hover.png');
}
